.heading {
    padding: 20px 0 10px;
}


.flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .flex-row > div {
    flex-basis: 100%;
    padding: 0 10px;
  }

  .flex-row > div.min {
    flex-basis: 0;
  }

  .flex-row > div.title {
    flex-basis: 25%;
  }

  .flex-row > div.excerpt {
    overflow: hidden;
  }

  